*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.head1{
    width: 1263px;
    height: 50px;
    background-color: #3C1158;
}
.head1 img{
    width: 980px;
    height: 50px;
    display: block;
    margin: 0 auto;
}
.search img{
    display: block;
    margin: 20px 40px;
}
.register{
    width: 1200px;
    height: 624px;
    border: 1px solid #ccc;
    margin: 0 auto;
}
form{
    margin-left: 330px;
    margin-top: 100px;
}
form input{
    width: 308px;
    height: 42px;
    margin-bottom: 30px;
}
form table tr td:first-child,form table tr td:last-child{
    color: #3C1158;
    line-height: 42px;
    display: inline-block;
}
.register{
    color: #3C1158;
    line-height: 42px;
    margin-bottom: 70px;
}
form tr:nth-of-type(5) td input{
    background-color: #CF000E;
    border: none;
    color: #fff;
}
.footer_{
    width: 1263px;
    height: 172px;
    background-color: #1f1f1f;
    padding-top:20px ;
}
.footer_ span,a{
    color: #777;
    font-size: 12px;
}
.footer-1 a{
    margin-left: 15px;
}
.footer-1{
    width: 1200px;
    height: 61px;
    margin: 0 auto;
    border-bottom:1px solid #666;
    padding-bottom: 5px;
}
.footer-2{
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}
.footer-2 ul{
    float: right;
    width: 388px;
    margin-top: -20px;
} 
.footer-2 ul li{
    float: left;
    width: 97px;
    height: 40px;
}
.footer-2 ul li span{
    float: right;
}
.footer-2 ul li i{
    float: left;
    width: 26px;
    height: 26px;
}